
.postDetail{
    font-size:24px;
    padding-bottom:90px;
    /* padding-top:100px; */
}
.postDetail .mr20{
    margin-right:20px;
}
/* 底部按钮区域 */
.postDetail .footer-btns{
    position: fixed;
    bottom:0;
    width:100%;
    height:83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 25px;
    border-top:1px solid #d0d0d0;/*no*/
    z-index:99;
    background:#fff;
    box-sizing: border-box;
}
.postDetail .writeBox{
    flex:1;
    /* width: 312px; */
	height: 54px;
	background-color: #f5f5f5;
    border-radius: 27px;
    padding-left:50px;
    line-height:54px;
    font-size: 24px;
}
.postDetail .penIcon{
    position: absolute;
    left:40px;
    font-size:24px;
    top:30%;
    color:#4d4d4d;
}
.postDetail .btnList{
    display: flex;
    padding-left:25px;
    width:370px;
    justify-content: space-between;
}
.postDetail .btnList i{
    font-size:44px;
}
.postDetail .redZan{
    color:#ff2741;  
}
.postDetail .zanAni{
    -webkit-animation: scaleZanBtn 1s ease-out;
    animation: scaleZanBtn 1s ease-out;
}
.postDetail .zanCom{
    -webkit-animation: zanComAni 1s ease-out;
    animation: zanComAni 1s ease-out;
}
.postDetail .cancleZan{
    animation: cancleZanAni 1s ease-out;
}
.postDetail .btnList .numTxt{
    font-size: 24px;
    color: #232323;
    font-weight: bold;
    vertical-align: top;
    padding-left:3px;/*no*/
    font-family: "STXihei"
}
.postDetail .btnList .txtTip{
    font-size: 24px; 
    padding-left:3px;/*no*/
    font-weight: bold;
}
.postDetail .btnItem{
    align-items: center;
    /* width:119px; */
}
.postDetail .storedBtn{
    color:#fcbd54;
}
/* 底部按钮区域结束 */

/* 评论区域 */
.postDetail .commentList{
    border-top:1px solid #e7e7e6;/*no*/
    padding:25px 0;
    margin:0 25px;
}
.postDetail .commItem{
    padding-top:25px;
    /* min-height: 105px; */
    display: flex;
 
}
.postDetail .grayBorder{
    padding-bottom:25px;
   border-bottom:1px solid #e7e7e6;/*no*/
}
.postDetail .fx1{
    flex:1;
}
.postDetail .fx{
    display: flex;
}
.postDetail .between{
    display: flex;
    justify-content: space-between;
}
.postDetail .color999{
    color:#999;
}
.postDetail .avertImg{
    width: 58px;
	height: 58px;
    border-radius: 29px;
    margin-right:20px;
    overflow: hidden;
}
.postDetail .avertImg img{
    width:100%;
    height:100%;
}
.postDetail .commZan{
    position:relative;
    padding-left:20px;
}
.postDetail .commZan i{
    font-size:32px;
    color:#fff;
}
.postDetail .commZan span{
    position: absolute;

}
.postDetail .pd20{
    padding-bottom:20px;
}
.postDetail .pd6{
    padding-bottom:6px;
}
.postDetail .pl10{
    padding-left:10px;
}
.postDetail .pr70{
    padding-right:70px;
}
.postDetail .addCom{
    width: 612px;
    height: 60px;
    line-height: 60px;
	background-color: #f5f5f5;
    border-radius: 30px;
    font-size:24px;
    padding-left:20px;
}
.postDetail .addCommItem{
    padding:25px 0;
    display: flex;
}
.postDetail .showComBtn{
    padding:20px 0;
    text-align:center;
	font-size: 24px;
	letter-spacing: 1px;
	color: #6583e6;
}
/* 评论区域结束 */
/* 描述区域 */
.postDetail .desCont{
    padding:25px;
}
.postDetail .topicTitle{
    padding-bottom:12px;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #343434;
}
.postDetail .contTitle{
	font-size: 28px;
	letter-spacing: 1px;
	color: #343434;
}
.postDetail .postTag{
    margin:18px 0;
    min-width: 160px;
    height: 42px;
    line-height:42px;
    border-radius: 21px;
    background:#eef2f7;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding:0 20px;

}
.postDetail .postTag img{
    width:28px;
    height:28px;
    vertical-align: sub;
}
.postDetail .postTag span{
    color:#6583e6;
}
/* 描述区域结束 */
/* 滑动区域 */
.postDetail .slideCont{
    padding-left:30px;
    height:200px;
    display: flex;
    align-items: center;
    overflow-x:auto;
}
.postDetail .sameItem{
    width: 550px;
    height: 180px;
    margin-right:20px;
	background-color: #f5f5f5;
    border-radius: 15px;
    padding:15px 20px;
    display: flex;
    box-sizing: border-box;
    flex-shrink: 0;
}
.postDetail .sameImg{
    width: 120px;
	height: 120px;
    border-radius: 15px;
    margin-right:15px;
    overflow: hidden;
}
.postDetail .sameImg img{
    width:100%;
    height:100%;
}
.postDetail .sameTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    letter-spacing: 1px;
    color: #343434;
}
.postDetail .quanTxt{
    height: 28px;
    padding:5px 15px;
    line-height:28px;
    color:#fff;
    background:url("../../img/grassgrowing/quan.png") no-repeat;
    background-size:100% 100%;
}
.postDetail .rebateTxt{
    height: 28px;
    padding:5px 15px 5px 38px;
    line-height:28px;
    color: #fe4949;
    letter-spacing: 1px;
    background:url("../../img/grassgrowing/rebate.png") no-repeat;
    background-size:100% 100%;
}
.postDetail .mb10{
    margin-bottom:10px;
}
.postDetail .mt10{
    margin-top:10px;
}
.postDetail .ml10{
    margin-left:10px;
}
.postDetail .ml20{
    margin-left:20px;
}
.postDetail .buyBtn{
    width: 66px;
	height: 36px;
	border-radius: 18px;
    border: solid 2px #ff314a;/*no*/
    font-size: 22px;
    color: #ff314a;
    letter-spacing: 1px;
    line-height:36px;
    text-align: center;
}
.postDetail .priceTxt{
    color: #ef4454;
    font-weight: bold;
}
/* 滑动区域结束 */
/* 头部区域开始 */
.postDetail .followBtn{
    width: 112px;
	height: 46px;
	border-radius: 23px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align:center;
    line-height:46px;
}
.postDetail .isFollow{
    border: solid 2px #ff314a;
    color: #ff314a;
}
.postDetail .isFollowed{
    border: solid 2px #999;
    color: #999;
}
.postDetail .ft34{
    font-size:34px;
}
.postDetail .topCont{
    padding-bottom:10px;
    height: 100px;
    /* box-sizing: border-box; */
    position: fixed;
    padding-top:50px;
    width:100%;
    z-index:100;
    background:#fff;
    top:0;
}
.postDetail .hidePadding{
    padding-bottom:0;
    padding-top:0;
    position: relative;
}
.postDetail .backBtn{
    padding:0 30px 0 20px;
    cursor: pointer;
}
.postDetail .userTxt{
    font-size:28px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #343434;
    width:290px;
}
.postDetail .userImg{
    width: 70px;
	height: 70px;
    border-radius:35px;
    
}
.postDetail .relayBtn{
    padding:0 20px;
}
.postDetail .ellipsisTxt{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/* 轮播区域 */
.postDetail .mySwiper{
    position: relative;
    width:100%;
    overflow-x:auto;
    display: flex;
}
.postDetail .imgList{
    display: flex;
}
.postDetail .mt100{
    margin-top:100px;
}
.postDetail .mySlide{
    width:100%;
    flex-shrink: 0;
}
.postDetail .mySlide img{
    width:100%;
    height: auto;
}
.postDetail .pageTagList{
    display: flex;
    height:40px;
    align-items: center;
    justify-content: center;
}
.postDetail .pageTag{
    height:6px;/*no*/
    width:6px;/*no*/
    border-radius:3px;/*no*/
    background:#e6e6e6;
    margin:0 5px; 
}
.postDetail .redTag{
    background:#ff314a;
}

.postDetail .swiper-pagination-custom {
    bottom: 10px;
    left: 0;
    width: 100%;
    padding-top:10px;
    position: relative;
}

.postDetail .swiper-pagination-customs {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    background:#e3dedc;
    opacity: .3;
    margin: 0 5px;
}

.postDetail .swiper-pagination-customs-active {
    opacity: 1;
    background-color: #ef4454;
}


.postDetail .swiper-slide{
    display:flex;
     /* height: 900px !important;  */
    justify-content: center;
    align-items: center;
}

.postDetail .swiper-slide img{
    width:100%;
    height: auto;
}
.postDetail .swiper-container{
    position: relative;
    width: 100%;
    /* height:950px; */
}
.postDetail .swiper-pagination-bullet{
    width:14px;
    height:14px;
    background:#e3dedc;
    opacity: 1;
}
.postDetail .swiper-pagination-bullet-active{
    background:#ef4454;
}
.postDetail .slotCont{
    width:100%;
    height:160px;
}
.postDetail .helpChoose{
    position: absolute;
    bottom:70px;
    left:0;
    width: 110px;
	height: 50px;
    z-index:99;
    background-color: #ff314a;
	box-shadow: 0px 0px 11px 0px 
		rgba(161, 161, 161, 0.11);
    border-radius: 0 25px 25px 0;
    color:#fff;
    font-size:24px;
    text-align:center;
    line-height:50px;
    letter-spacing: 1px;
}
.postDetail .helpChoose img{
    width:100%;
    height:100%;
}
/* 弹窗 */
.postDetail .monToast{
    width: 270px;
	height: 72px;
	background:rgba(0,0,0,0.6);
	border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:100;
}
.postDetail .monToast img{
    width:50px;
    height:40px;
}
.postDetail .monNum{
    font-size: 32px;
	font-weight: bold;
    letter-spacing: 1px;
    color: #ffd720;
    margin-left:15px;
}
.postDetail .alignCen{
    display: flex;
    align-items: center;
}
.postDetail .storeToast{
    width: 690px;
	height: 112px;
	background: rgba(0,0,0,0.8);
    border-radius: 10px;
    position: fixed;
    bottom:112px;
    left:50%;
    transform:translateX(-50%);
    z-index:999;
    padding:18px 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    animation: showStoreTip 3s ease-out;
}
.postDetail .hideStore{
    animation: hideStoreTip 0.5s ease-out;
}
.postDetail .storeToast img{
    width:76px;
    height:76px;
    margin-right:20px;
}
.postDetail .storeTips{
    color:#bbb;
}
.postDetail .successTxt{
    font-size: 28px;
    letter-spacing: 1px;
    color:#fff;
}
.postDetail .storeTxt{
    height:76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 倒计时悬浮框 */
.postDetail .timeToast{
    position: fixed;
    bottom:163px;
    right:32px;
    z-index:99;
    width: 120px;
	height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postDetail .circlePro{
    position: fixed;
    bottom:153px;
    right:22px;
    z-index:99;
    width: 140px;
    height: 140px;
    background-color: #ffffff;
	box-shadow: 0px 0px 11px 0px 
		rgba(161, 161, 161, 0.11);
    border-radius: 50%;
}

.postDetail .timeToast .content{
    margin-left:0 !important;
    margin-top:0 !important;
}
.postDetail .redPacket{
    width: 44px;
	height: 54px;
}
.postDetail .jinbiImg{
    width: 39px;
	height: 31px;
}
.postDetail .jinbiNum{
    font-size: 22px;
    color: #ff2741;
    letter-spacing: 1px;
}
.postDetail .jinbiCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.postDetail .jinbiAni{
    -webkit-animation: jinbiAni 1s ease-out;
    animation: jinbiAni 1s ease-out;
}
.postDetail .mask{
    position: fixed;
    top:0;
    left:0;
    bottom:80px;
    right:0;
    z-index:100;
    background:rgba(0,0,0,0.6);
}
.postDetail .writeComCont{
    position: fixed;
    bottom:0;
    z-index:999;
    width:100%;
    padding-left:20px;
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
    box-sizing: border-box;
}
.postDetail .bigInput{
    width:600px;
    height:60px;
    border-radius: 30px;
    padding-left:20px;
    border:1px solid #ccc;/*no*/
}
.postDetail .sendCom{
    padding:20px;
}
.postDetail .textCol34{
    color:#343434;
}
/* 分享出去的h5页面 */
 .postDetail .robMoney{
    width: 340px;
    height:  67px;
    background-color: #fee952;
    border-radius: 34px;
    letter-spacing: 2px;
    color: #bc0015;
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    line-height: 67px;
}
.postDetail .knowBtn{
    width: 340px;
    height: 67px;
    background-color: #ffffff;
    border-radius: 34px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #bc0015;
    text-align:center;
    line-height:67px;
}
.postDetail .sharejinbiNum{
    font-size:55px;
    font-weight: bold;
    color: #ffeb5c;
    letter-spacing: 5px;
    padding-left:10px;
    padding-bottom:40px;
}
.postDetail .maskJInbi{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.6);
    z-index:999;
}
.postDetail .jinbiBox{
    width:670px;
    height:750px;
    position: fixed;
    z-index:100;
    top:44%;
    left:48%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url("../../img/grassgrowing/jinbiBox.png") no-repeat;
    background-size:100% 100%;
}
.postDetail .jinbibtnList{
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom:60px;
}
.postDetail .mb20{
    margin-bottom:20px;
}
.postDetail .font66{
    font-size:66px;
}
/* 分享页面头部下载区域开始*/
.postDetail .topShareCont{
    width:100%;
    height:120px;
    padding:0 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size:28px;
    color: #343434;
    box-sizing: border-box;
}
.postDetail .logoBox{
    width: 86px;
    height: 86px;
    border-radius: 16px;
    margin-right:20px;
    overflow: hidden;
}
.postDetail .logoBox img{
    width:100%;
    height:100%;
}
.postDetail .openBtn{
    width: 180px;
    height: 58px;
    line-height:58px;
    text-align: center;
    background-color: #ff314a;
    border-radius: 29px;
    letter-spacing: 1px;
    color: #ffffff;
    font-size:24px;
    font-weight: bold;
}
.postDetail .blodText{
    font-weight: bold;
}
.postDetail .center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 分享页面头部下载区域结束*/
/* 动画效果 */
/* 点赞的心的动画 */
@keyframes scaleZanBtn{
    0% {
        transform:scale(0.5);
    }
    70%{
        transform:scale(1.2);
    }

    100% {
        transform:scale(1);
    }
}
/* 显示收藏的动画 */
@keyframes showStoreTip{
    0% {
        height:0px;
        bottom:0;
        opacity: 0;
    }
    20%{
        height:112px;
        bottom:112px;
        opacity: 1;
    }
    75%{
        height:112px;
        bottom:112px;
        opacity: 1;
    }
    100%{
        height:0px;
        bottom:0px;
        opacity: 0;
    }
}
/* 赞评论区域的动画 */
@keyframes zanComAni{
    0% {
        transform:scale(0.5)
    }
    70%{
        transform:scale(1.2)
    }
    100% {
        transform:scale(1)
    }
}
/* 倒计时金币动画 */
@keyframes jinbiAni{
    0% {
        transform:scale(0);
        opacity: 0;
    }
    50%{
        transform:scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform:scale(1);
        opacity: 1;
    }
}
