.chooseImg{width: 14px;height: 8px;position: absolute;top: 50%;right: 0;transform: translate(0, -50%)}
.transfer p{display: inline-block; color: #9E9E9E; padding: 8px 0}
.transfer .chooseText{position: relative;margin-left: 15px;border-bottom: 1px solid #F3F3F3;padding-right: 25px;width: 248px;}