/** TODO: 商城主页 */
.mall_main {
	width: 750px;
	background-image: url("../../img/mall/tit_bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	background-color: #F5F4F2;
}
.mall_main .app_head .tit_bar{
	width: 750px;
	background-image: url("../../img/mall/tit_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
/* FIXME: 主页头标题 */
.mall_main .mall_main_tit {
	width: 750px;
	padding-top: 28px;
	text-align: center;
}
.mall_main_tit font {
	color: #ffffff;
	margin: 0px auto;
	font-size: 40px;
	height: 40px;
	text-align: center;
	height: 40px;
	font-weight: bold;
}
.mall_main .app_head .tit_tit {
	color: #ffffff !important;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}
/** FIXME: 主页头搜索框 */
.mall_main .mall_main_sea {
	margin-top: 28px;
	width: 750px;
}
.mall_main_sea .head_sea_cont {
	margin: 0px auto;
	width: 710px;
	height: 80px;
	border-radius: 40px;
	background-color: #ffffff;
}
.mall_main_sea .head_sea_cont .head_sea_txt {
	margin: 0px auto;
	padding-top: 30px; /** 此处针对手机表现，pc可能有差异 */
	width: fit-content;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	line-height: 100%;
	color: #999999;
}
.mall_main_sea .head_sea_cont font {
	height: 30px;
	padding-left: 40px;
	font-size: 28px;
	color: #999999;
	background-image: url("../../img/search/search.png");
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: 0px 1px; /** 此处针对手机表现，pc可能有差异 */
	/* letter-spacing: 2px; */
}
/** FIXME: 主页banner */
.mall_main .bann_holder{
	height: 7px;
	background-color: transparent;
}
.mall_main .mall_main_bann {
	width: 750px;
}
.mall_main_bann .bann_img {
	width: 750px;
	height: 282px;
}
.mall_main_bann .bann_img_1 {
	background-image: url("../../img/mall/banner_1.png");
	background-repeat: no-repeat;
	background-size: cover;
}
/** FIXME: 主页去到平台 */
.mall_main .mall_main_pf {
	margin-top: 5px;
	width: 750px;
	height: 253px;
}
.mall_main_pf .pf_cont {
	margin: 0px auto;
	width: 710px;
	height: 253px;
	border-radius: 20px;
	background-color: #ffffff;
}
.mall_main_pf .pf_cont .pf_tit {
	margin-left: 20px;
	height: 30px;
	line-height: 30px;
	padding-top: 28px;
	font-size: 30px;
	font-weight: bold;
}
.mall_main_pf .pf_cont .pf_eles {
	display: flex;
	margin-top: 26px;
	width: 710px;
	height: 136px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0px 0px;
	margin-right: 30px;
}
.pf_eles .pf_ele {
	flex: 1;
	/* width: 122px; */
	height: 136px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 122px 136px;
	background-position: center top;
}
.pf_eles .pf_tb {
	background-image: url("../../img/mall/go_tb.png");
}
.pf_eles .pf_jd {
	background-image: url("../../img/mall/go_jd.png");
}
.pf_eles .pf_vip {
	background-image: url("../../img/mall/go_vip.png");
}
.pf_eles .pf_pdd {
	background-image: url("../../img/mall/go_pdd.png");
}

/** FIXME: 主页专区*/
.mall_main .mall_main_spec {
	margin-top: 23px;
	width: 750px;
	height: 526px;
}
.mall_main_spec .spec_cont {
	margin: 0px auto;
	width: 710px;
	height: 526px;
	background-color: #ffffff;
	border-radius: 20px;
	display: flex;
	flex-flow: column;
}
.mall_main_spec .spec_cont .spec_line {
	flex: 1;
	width: 100%;
	display: flex;
	border-bottom: 1px solid #EEEEEE;/*no*/
}
.mall_main_spec .spec_cont .spec_line:last-child {
	border-bottom: 0px;/*no*/
}
.mall_main_spec .spec_line .spec_doub {
	flex: 2;
	height: 100%;
}
.mall_main_spec .spec_line > div {
	border-right: 1px solid #EEEEEE;/*no*/
}
.mall_main_spec .spec_line > div:last-child {
	border-right: 0px;/*no*/
}
.mall_main_spec .spec_line .spec_only {
	flex: 1;
	height: 100%;
}
.spec_line .spec_doub > div {
	text-align: left;
	padding-left: 21px;
}
.spec_line .spec_only > div {
	text-align: center;
}
.spec_line .spec_tit {
	margin-top: 26px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	color: #000000;
}
.spec_line .spec_sub {
	margin-top: 15px;
	width: 100%;
	height: 22px;
	line-height: 22px;
	font-size: 23px;
	color: #929292;
}
.spec_line .spec_img {
	margin-top: 10px;
	margin-left: 15px;
	float: left;
	width: 139px;
	height: 139px;
	overflow: hidden;
	padding-left: 0px;
	background-repeat: no-repeat;
	background-size: 139px 139px;
	background-position: center center;
}
.spec_line .spec_img_11 {
	background-image: url("../../img/mall/spec_11.png");
}
.spec_line .spec_img_12 {
	background-image: url("../../img/mall/spec_12.png");
}
.spec_line .spec_img_21 {
	background-image: url("../../img/mall/spec_21.png");
}
.spec_line .spec_img_22 {
	background-image: url("../../img/mall/spec_22.png");
}
.spec_line .spec_img_31 {
	background-image: url("../../img/mall/spec_31.png");
}
.spec_line .spec_img_41 {
	background-image: url("../../img/mall/spec_41.png");
}
.spec_line .spec_img_51 {
	background-image: url("../../img/mall/spec_51.png");
}
.spec_line .spec_img_61 {
	background-image: url("../../img/mall/spec_61.png");
}

/** FIXME: 主页推广 */
.mall_main .mall_main_prom {
	margin-top: 22px;
	width: 750px;
	height: 238px;
	background-color: #F5F4F2;
}
.mall_main .prom_holder{
	height: 22px;
	background-color: #F5F4F2;
}
.mall_main_prom .prom_cont{
	margin: 0px auto;
	width: 710px;
	height: 238px;
	border-radius: 20px;
	background-color: #ffffff;
}
.mall_main_prom .prom_cont .prom_tit{
	margin-left: 20px;
	height: 30px;
	line-height: 30px;
	padding-top: 28px;
	font-size: 30px;
	font-weight: bold;
}
.mall_main_prom .prom_cont .prom_eles{
	margin-top: 5px;
	display: flex;
}
.prom_eles .prom_ele {
	flex: 1;
	/* width: 122px; */
	height: 170px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 337px 170px;
	background-position: center top;
}
.prom_eles .prom_tb {
	background-image: url("../../img/mall/prom_tb.png");
}
.prom_eles .prom_jd {
	background-image: url("../../img/mall/prom_jd.png");
}

/** FIXME: 主页列表 */
.mall_main .mall_main_ites {
	margin:22px auto;
	width: 750px;
	background-color: #fff;
}
.mall_main_ites .ites_tit {
	margin-top: 45px;
	width: 750px;
	height: 54px;
	overflow: hidden;
	background-image: url("../../img/mall/list_tit.png");
	background-repeat: no-repeat;
	background-size: 413px 54px;
	background-position: center top;
}
.mall_main_ites .ites_list {
	margin-top: 20px;
	width: 750px;
	height: calc(100vh - 238px - 100px);
	position: relative;
	box-sizing: border-box;
}
.mall_main_ites .ites_list_new {
	margin-top: 20px;
	width: 750px;
	height: fill-available;
	height: -webkit-fill-available;
}
